Repository lelouvincx/nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: automerge, config, lsp, plugins, filetype

.github/labeler.yml:

# You can refer README of this repo for future mantainances: https://github.com/actions/labeler
automerge:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - docs/**/*
          - after/**/*
          - ftdetect/**/*
          - lua/**/*
          - .gitignore
          - .neoconf.json
          - CHANGELOG.md
          - CONTRIBUTING.md
          - LICENSE
          - README.md
          - init.lua
          - lazy-lock.json
          - lazyvim.json
          - stylua.toml

config:
  - changed-files:
      - any-glob-to-any-file:
          - lua/config/**/*

lsp:
  - changed-files:
      - any-glob-to-any-file:
          - lua/lsp/**/*

plugins:
  - changed-files:
      - any-glob-to-any-file:
          - lua/plugins/**/*

filetype:
  - changed-files:
      - any-glob-to-any-file:
          - after/ftplugin/**/*
          - ftdetect/**/*

ci(release): update github token for gh-cli
  .github/workflows/release.yml
Labels: automerge

ci(release): add more condition to run on workflow-dispatch
  .github/workflows/release.yml
Labels: automerge

Revert "chore(main): release 1.3.0"
  .github/release-please-manifest.json
  CHANGELOG.md
Labels: automerge

ci(release): add github token for permission error
  .github/workflows/release.yml
Labels: automerge

ci(release): correct job condition
  .github/workflows/release.yml
Labels: automerge

fix: update CI_TOKEN for all workflows
  .github/workflows/automerge.yml
  .github/workflows/release.yml
Labels: automerge

ci(release): use GITHUB_TOKEN for github cli
  .github/workflows/release.yml
Labels: automerge

ci(release): fix step add github-actions[bot] as assignee
  .github/workflows/release.yml
Labels: automerge

ci(release): change workflow condition
  .github/workflows/release.yml
Labels: automerge

chore: remove push branchs main
  .github/workflows/release.yml
Labels: automerge

fix(release): remove 'v' in tags
  .github/workflows/release.yml
Labels: automerge

chore: add log
  .github/workflows/release.yml
Labels: automerge

chore: debug tagging job
  .github/workflows/release.yml
Labels: automerge

fix(release): remove job tagging
  .github/workflows/release.yml
Labels: automerge

chore(main): release 1.3.1
  .github/release-please-manifest.json
  CHANGELOG.md
Labels: automerge

fix(release): release-please version 4.2.0
  .github/workflows/release.yml
Labels: automerge

chore: use GITHUB_TOKEN
  .github/workflows/release.yml
Labels: automerge

chore: add debug msg
  .github/workflows/release.yml
Labels: automerge

fix(blink): remove rust build
  lua/plugins/blink.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
  lua/plugins/blink.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

feat(avante): initialize plugin avante - for cursor-like AI chat
  lazy-lock.json
  lua/config/options.lua
  lua/plugins/avante.lua
  lua/plugins/copilot-chat.lua
Labels: automerge, config, plugins

feat(lspconfig): add nvim-navbuddy for better navigation
  lua/lsp/lspconfig.lua
Labels: automerge, lsp

chore(supermaven): change message
  lua/plugins/supermaven-nvim.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(avante): update config to match with new releass
  lua/plugins/avante.lua
Labels: automerge, plugins

chore: add link to openai documentation about models
  lua/plugins/avante.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

ci: misc update description
  .github/workflows/notify-dotfiles.yml
  .github/workflows/release.yml
Labels: automerge

chore: udpate layzvim
  lazy-lock.json
Labels: automerge

ci(pre-commit): update name of hooks
  .pre-commit-config.yaml
Labels: none
