Repository lelouvincx/nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: automerge, config, lsp, plugins, filetype

.github/labeler.yml:

# You can refer README of this repo for future mantainances: https://github.com/actions/labeler
automerge:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - docs/**/*
          - after/**/*
          - ftdetect/**/*
          - lua/**/*
          - .gitignore
          - .neoconf.json
          - CHANGELOG.md
          - CONTRIBUTING.md
          - LICENSE
          - README.md
          - init.lua
          - lazy-lock.json
          - lazyvim.json
          - stylua.toml

config:
  - changed-files:
      - any-glob-to-any-file:
          - lua/config/**/*

lsp:
  - changed-files:
      - any-glob-to-any-file:
          - lua/lsp/**/*

plugins:
  - changed-files:
      - any-glob-to-any-file:
          - lua/plugins/**/*

filetype:
  - changed-files:
      - any-glob-to-any-file:
          - after/ftplugin/**/*
          - ftdetect/**/*

docs: update prerequisite to include rust
  README.md
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(blink): correct build version
  lua/plugins/blink.lua
Labels: automerge, plugins

fix(avante): default provider to openai
  lua/plugins/avante.lua
Labels: automerge, plugins

chore: update layzvim
  lazy-lock.json
Labels: automerge

fix(options): rename copilot_chat to ai_chat
  lua/config/options.lua
  lua/plugins/avante.lua
Labels: automerge, config, plugins

feat(claudecode): add Claude Code integration plugin
  lazy-lock.json
  lua/plugins/claudecode.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(options): config ai selection between avante and claudecode (prefer claudecode)
  lua/config/options.lua
  lua/plugins/avante.lua
Labels: automerge, config, plugins

docs(claude): add claude.md initialization
  CLAUDE.md
Labels: none

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(supermaven): remove supermaven from plugins
  lua/config/lazy.lua
  lua/config/options.lua
  lua/plugins/avante.lua
  lua/plugins/blink.lua
  lua/plugins/lualine.lua
  lua/plugins/nvim-cmp.lua
  lua/plugins/supermaven-nvim.lua
Labels: automerge, config, plugins

feat(neocodeium): add new plugin for AI inline-completion
  lua/config/options.lua
  lua/plugins/blink.lua
  lua/plugins/copilot-cmp.lua
  lua/plugins/neocodeium.lua
Labels: automerge, config, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

docs(claude): update with new plugin neocodeium replacing supermaven
  CLAUDE.md
Labels: none

refactor(neocodeium): migrate keymaps to which-key with descriptive labels
  lua/plugins/neocodeium.lua
Labels: automerge, plugins

refactor(claudecode): move MCP config path to options
  lua/config/options.lua
  lua/plugins/claudecode.lua
Labels: automerge, config, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(claudecode): remove option mcp_config_path, use direct link instead
  lua/config/options.lua
  lua/plugins/claudecode.lua
Labels: automerge, config, plugins

fix(colorschema): use catppuccin latte
  lua/plugins/colorscheme.lua
  lua/plugins/lualine.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(colorscheme): update light theme
  lua/plugins/colorscheme.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(blink): remove integration for dadbod (unused) and env (high risk)
  lua/plugins/blink.lua
Labels: automerge, plugins

docs: update readme
  README.md
  lua/plugins/blink.lua
Labels: automerge, plugins

build: upgrade lazyvim to 0.11.2 and following plugins
  lazy-lock.json
  lazyvim.json
Labels: automerge

fix(avante): library name change: echasnovski/mini.pick to nvim-mini/mini.pick
  lua/plugins/avante.lua
Labels: automerge, plugins

docs: migrate all media assets to new domain at media.nvim.lelouvincx.com
  README.md
Labels: automerge

fix(neocodeium): remove plugin (not use anymore), fallback to copilot
  lua/config/options.lua
  lua/plugins/blink.lua
  lua/plugins/neocodeium.lua
Labels: automerge, config, plugins

fix(rainbow): upgrade to new github repository
  lua/plugins/rainbow.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(colorscheme): fix error bufferline
  lua/plugins/colorscheme.lua
Labels: automerge, plugins

feat(bufferline): add plugin
  lua/plugins/bufferline.lua
Labels: automerge, plugins

fix(claudecode): remove redundant parts
  lua/plugins/claudecode.lua
Labels: automerge, plugins

feat(copilot): setup github copilot again as inline code completion and super tab for blink
  lazy-lock.json
  lazyvim.json
  lua/config/options.lua
  lua/plugins/blink.lua
  lua/plugins/copilot-chat.lua
  lua/plugins/copilot-cmp.lua
  lua/plugins/copilot.lua
Labels: automerge, config, plugins

fix(colorscheme): lock commit catppuccin
  lua/plugins/colorscheme.lua
Labels: automerge, plugins

fix(blink): refactor code to be cleaner
  lua/plugins/blink.lua
Labels: automerge, plugins

fix(copilot): change ghost text of copilot to be more clean
  lua/config/autocmds.lua
Labels: automerge, config
