Repository lelouvincx/nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: automerge, config, lsp, plugins, filetype

.github/labeler.yml:

# You can refer README of this repo for future mantainances: https://github.com/actions/labeler
automerge:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - docs/**/*
          - after/**/*
          - ftdetect/**/*
          - lua/**/*
          - .gitignore
          - .neoconf.json
          - CHANGELOG.md
          - CONTRIBUTING.md
          - LICENSE
          - README.md
          - init.lua
          - lazy-lock.json
          - lazyvim.json
          - stylua.toml

config:
  - changed-files:
      - any-glob-to-any-file:
          - lua/config/**/*

lsp:
  - changed-files:
      - any-glob-to-any-file:
          - lua/lsp/**/*

plugins:
  - changed-files:
      - any-glob-to-any-file:
          - lua/plugins/**/*

filetype:
  - changed-files:
      - any-glob-to-any-file:
          - after/ftplugin/**/*
          - ftdetect/**/*

ci(release): config workflow trigger
  .github/workflows/release.yml
Labels: automerge

chore(copilot-chat): update assistant header msg
  lua/plugins/copilot-chat.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

chore: update lazyvim
  lazy-lock.json
Labels: automerge

feat(copilot): update completion model to gpt-4o-copilot
  lua/plugins/copilot.lua
Labels: automerge, plugins

ci(notify-dotfiles): update schedule every month
  .github/workflows/notify-dotfiles.yml
Labels: automerge

chore(copilot): update attached message
  lua/plugins/copilot.lua
Labels: automerge, plugins

chore(filetype): update filetype .zimrc to sh
  ftdetect/zimrc.lua
Labels: automerge, filetype

ci(notify-dotfiles): update workflow ID
  .github/workflows/notify-dotfiles.yml
Labels: automerge

feat(supermaven): add plugin supermaven replace for copilot
  lazy-lock.json
  lazyvim.json
  lua/config/lazy.lua
  lua/config/options.lua
  lua/plugins/blink.lua
  lua/plugins/copilot.lua
  lua/plugins/lualine.lua
  lua/plugins/noice.lua
  lua/plugins/nvim-cmp.lua
  lua/plugins/supermaven-nvim.lua
Labels: automerge, config, plugins

fix(nvim-cmp): add enable option
  lua/config/options.lua
  lua/plugins/nvim-cmp.lua
Labels: automerge, config, plugins

ci(pre-commit): add pre-commit config
  .pre-commit-config.yaml
Labels: none

chore: remove extra config for supermaven
  lazyvim.json
Labels: automerge

fix(supermaven): correct option vim.g.ai_cmp
  .pre-commit-config.yaml
  lazy-lock.json
  lua/plugins/supermaven-nvim.lua
Labels: automerge, plugins

feat(copilot-chat): add stream option and capitalize prompts
  lua/plugins/copilot-chat.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix: remove configuration for java
  lua/config/lazy.lua
Labels: automerge, config

fix(noice): update to ignore method textDocument/documentHighlight from lsp-config
  lua/plugins/noice.lua
Labels: automerge, plugins

fix(neo-tree): show dotfiles by default
  lua/plugins/neo-tree.lua
Labels: automerge, plugins

fix(blink): add option to use blink as default instead of nvim-cmp
  lua/config/options.lua
  lua/plugins/blink.lua
  lua/plugins/supermaven-nvim.lua
Labels: automerge, config, plugins

fix(lazy): remove git from default lang
  lua/config/lazy.lua
Labels: automerge, config

fix(lspconfig): remove djtls (java)
  lua/lsp/lspconfig.lua
Labels: automerge, lsp

feat(blink): update more sources for blink to complete
  lua/plugins/blink.lua
Labels: automerge, plugins

fix(blink): update providers order to match
  lua/plugins/blink.lua
Labels: automerge, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(copilot-chat): change coding model to gpt-4.1
  lua/plugins/copilot-chat.lua
Labels: automerge, plugins

fix(colorscheme): remove default config for integrations
  lua/plugins/colorscheme.lua
Labels: automerge, plugins

fix(blink): update config to use blink_enabled flag
  lua/config/options.lua
  lua/plugins/blink.lua
Labels: automerge, config, plugins

feat: add optional flag to various plugins
  lua/plugins/blink.lua
  lua/plugins/copilot-cmp.lua
  lua/plugins/copilot-lualine.lua
  lua/plugins/lazydocker.lua
  lua/plugins/neogen.lua
  lua/plugins/noice.lua
  lua/plugins/remote.lua
  lua/plugins/zenmode.lua
Labels: automerge, plugins

fix(colorscheme): remove nightfox colorscheme
  lua/plugins/colorscheme.lua
Labels: automerge, plugins

fix(blink): use additional icons from lazyvim besides default
  lua/plugins/blink.lua
Labels: automerge, plugins

chore: remove optional
  lua/plugins/fidget.lua
  lua/plugins/lazydocker.lua
  lua/plugins/zenmode.lua
Labels: automerge, plugins

chore: add config for fzf
  lua/config/lazy.lua
Labels: automerge, config

chore(supermaven): remove option for use supermaven pro
  lua/plugins/supermaven-nvim.lua
Labels: automerge, plugins

feat(ci): add tag-stable-versions job for main merges
  .github/workflows/release.yml
Labels: automerge

ci(automerge): remove secret TOKEN_GITHUB
  .github/workflows/automerge.yml
Labels: automerge

ci(automerge): correct variable GITHUB_TOKEN
  .github/workflows/automerge.yml
Labels: automerge

ci(release): update the assignee to github-actions[bot]
  .github/workflows/release.yml
Labels: automerge

chore: update auto-labeler to ubuntu-24.04
  .github/workflows/auto-labeler.yml
  .github/workflows/release.yml
Labels: automerge
