Repository lelouvincx/nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: automerge, config, lsp, plugins, filetype

.github/labeler.yml:

# You can refer README of this repo for future mantainances: https://github.com/actions/labeler
automerge:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - docs/**/*
          - after/**/*
          - ftdetect/**/*
          - lua/**/*
          - .gitignore
          - .neoconf.json
          - CHANGELOG.md
          - CONTRIBUTING.md
          - LICENSE
          - README.md
          - init.lua
          - lazy-lock.json
          - lazyvim.json
          - stylua.toml

config:
  - changed-files:
      - any-glob-to-any-file:
          - lua/config/**/*

lsp:
  - changed-files:
      - any-glob-to-any-file:
          - lua/lsp/**/*

plugins:
  - changed-files:
      - any-glob-to-any-file:
          - lua/plugins/**/*

filetype:
  - changed-files:
      - any-glob-to-any-file:
          - after/ftplugin/**/*
          - ftdetect/**/*

docs(readme): mark tasks as done
  README.md
Labels: automerge

feat(telescope): update plugin
  lua/plugins/telescope.lua
Labels: automerge, plugins

fix(example): delete boilerplate example.lua
  lua/plugins/example.lua
Labels: automerge, plugins

refactor(lsp): migrate the dir lsp/ to plugins/ for neovim standard
  lua/config/lazy.lua
  lua/plugins/lang/lua.lua
  lua/plugins/lang/python.lua
  lua/plugins/lsp-signature.lua
  lua/plugins/lspconfig.lua
Labels: automerge, config, plugins

fix(lang/python): remove redundant comments
  lua/plugins/lang/python.lua
Labels: automerge, plugins

fix(nvim-cmp): remove plugin, use blink as main completion engine
  lua/config/options.lua
  lua/plugins/avante.lua
  lua/plugins/blink.lua
  lua/plugins/colorscheme.lua
  lua/plugins/nvim-cmp.lua
Labels: automerge, config, plugins

chore: update lazyvim
  lazy-lock.json
Labels: automerge

fix(neovim): add line number and relative number
  lazy-lock.json
  lua/config/options.lua
Labels: automerge, config

refactor(lspconfig): improve file structure
  lua/plugins/lspconfig.lua
Labels: automerge, plugins

fix(ftdetect): migrate into 1 single file in plugins
  ftdetect/dbml.lua
  ftdetect/env.lua
  ftdetect/envrc.lua
  ftdetect/zimrc.lua
  lua/plugins/ftdetect.lua
Labels: automerge, plugins, filetype

refactor(misc): grammar
  lua/config/lazy.lua
  lua/plugins/fidget.lua
  lua/plugins/lang/dbt.lua
Labels: automerge, config, plugins

fix(options): unload languages: python, python3, node
  lua/config/options.lua
Labels: automerge, config

refactor(ftdetect): migrate into options.lua
  lua/config/options.lua
  lua/plugins/ftdetect.lua
Labels: automerge, config, plugins

feat(amp): add ampcode - new coding agent
  lazy-lock.json
  lua/plugins/amp.lua
Labels: automerge, plugins

refactor(repomix): add repomix as LLM-native interface
  .gitignore
  .repomixignore
  repomix.config.json
Labels: automerge

ci(release): change release schedule to every 2 months
  .github/workflows/release.yml
  lua/plugins/lang/dbt.lua
Labels: automerge, plugins

fix(claudecode): remove default configs
  lua/plugins/claudecode.lua
Labels: automerge, plugins

ci(release): update token to use @lelouvincx-bot
  .github/workflows/release.yml
Labels: automerge

ci(release): use @lelouvincx-bot token
  .github/workflows/release.yml
Labels: automerge

fix(colorscheme): use catppuccin mocha
  lua/plugins/colorscheme.lua
Labels: automerge, plugins

fix(ftdetect): detect holistics AMQL file type
  lua/config/options.lua
Labels: automerge, config

chore(main): release 1.7.2
  .github/release-please-manifest.json
  CHANGELOG.md
Labels: automerge

ci(release): use @lelouvincx-bot token
  .github/workflows/automerge.yml
Labels: automerge

ci(automerge): simplify functionality
  .github/workflows/automerge.yml
Labels: automerge

feat: use dracula colorscheme
  CLAUDE.md
  README.md
  lazy-lock.json
  lua/config/lazy.lua
  lua/plugins/colorscheme.lua
Labels: automerge, config, plugins

chore(main): release 1.8.0
  .github/release-please-manifest.json
  CHANGELOG.md
Labels: automerge

feat: follow system theme
  CLAUDE.md
  lua/config/lazy.lua
  lua/plugins/colorscheme.lua
Labels: automerge, config, plugins

feat: follow system theme (#26)
  CLAUDE.md
  lua/config/lazy.lua
  lua/plugins/colorscheme.lua
Labels: automerge, config, plugins
